
/* HomePage */

.switch-to-fahrenheit-continer {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.location-card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* WeatherStrip */

.weather-strip-container {
    position: relative;
}

.weather-strip {
    width: 70vw;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    background-color: floralwhite;
    box-shadow: 4px 4px 5px #aaaaaa;
}

.weather-strip:focus {
    outline: none;
}

.weather-info-container {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.temp-logos {
    height: 28px;
}

.favorite-logo {
    height: 20px;
    position: absolute;
    right: -25px;
    top: 12px;
}

/* DailyWeather */

.one-day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 18%;
    padding: 10px 5px;
    background-color: moccasin;
}

.one-day-temp-logo {
    height: 50px;
}

.min-max-temp {
    display: flex;
}

/* Search */

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 10px;
    position: relative;
}

.search-field {
    border-radius: 20px !important;
}

.magnifying-glass {
    position: absolute;
    right: 7%;
    top: 10px;
    height: 20px;
}