
.Toastify__toast {
    border-radius: 20px !important; 
}

.card {
    margin: 5px;
    width: 200px;
    border-radius: 20px !important;
    box-shadow: 4px 4px 5px #aaaaaa;
}
 
@media (max-width: 500px) {
    .card {
        width: 100% !important;
    }
}